@import ../../../css/variables

.header
  z-index: 10
  height: 50px
  position: fixed
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  width: 100%
  max-width: 500px
  border: 1px solid $border-1
  background: $background-3
  display: flex
  justify-content: space-between
  align-items: center
  transition: border-radius 0.5s
  padding: 0 20px
  gap: 10px

  @media screen and (min-width: 500px)
    border-radius: 10px 10px 0 0 !important

.header-link
  color: $font-2
  width: 35px
  display: flex
  flex-direction: column
  align-content: center
  align-items: center
  border-radius: 100px
  transition: 0.3s

  &.active
    color: $accent-1

  &__icon
    font-size: 33px
    font-variation-settings: 'FILL' 1, 'wght' 300

  &__label
    text-align: center
    font-size: 10px
    color: inherit

  &:last-child &__icon
    font-variation-settings: 'FILL' 1, 'wght' 700 !important
