@import ../../../css/variables

.icon-select
  display: flex
  flex-direction: column
  gap: 10px

  &__input
    display: none

.icon-select-list
  padding: 10px
  border-radius: 10px
  background: $background

  &__header
    user-select: none
    display: flex
    align-items: center
    cursor: pointer

  &__name
    padding-left: 5px
    font-weight: bold
    font-size: 12px
    color: $font-strong
    margin-bottom: 3px

  &__chevron
    font-size: 25px
    margin-left: auto

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 20px
    overflow: hidden
    gap: 10px
    transition: 0.75s ease
    max-height: 900px

  &.invisible &__list
    display: none

  &__item
    padding: 3px
    width: 50px
    height: 50px
    background: $background-weak
    cursor: pointer
    aspect-ratio: 1 / 1
    display: grid
    justify-content: center
    align-content: center
    border-radius: 100px

    @media (pointer: fine)
      &:hover
        background: $background

