@import ../../../css/variables

.activity-card
  width: 70px
  cursor: pointer
  display: flex
  flex-direction: column
  align-items: center
  transition: 0.3s

  &__icon-container
    width: 45px
    height: 45px
    border-radius: 100px
    background: $background-2
    border: 1px solid $border-1
    padding: 5px
    display: grid
    place-items: center
    aspect-ratio: 1 / 1
    transition: 0.3s

  &:hover &__icon-container
    padding: 4px

  &__icon
    transition: 0.3s


  &__name
    color: $font-2
    text-align: center
    width: 100%
    word-break: break-all
    padding: 5px
    font-size: 12px
