$background-strong: #1C1C1C
$background: #282828
$background-weak: #414141

$font-medium: #d0d0d0
$font-strong: #FFFFFF
$delimiter: #3C3B3E

$accent-strong: #60AE72
$accent: #4d9261
$accent-weak: #3B7751

$green: #8CCD2A
$green-weak: transparentize($green, 0.6)

$yellow: #FFC540
$yellow-weak: transparentize($yellow, 0.5)

$red: #EF1630
$red-weak: transparentize($red, 0.6)

$purple: #9056A3
$purple-weak: transparentize($purple, 0.6)

$blue: #4EA3D4
$blue-weak: transparentize($blue, 0.6)

$orange: #F68C1E
$orange-weak: transparentize($orange, 0.5)

$inactive-activity: #AFAFAF

$header-inactive-icon: #6C6F74
