$background-strong: #000000
$background: #1C1C1E
$font-medium: #8E8D92
$font-strong: #FFFFFF
$delimiter: #3C3B3E

$accent-strong: #35D4C3
$accent: #2e8f85
$accent-weak: #29615b

$green: #8CCD2A
$green-weak: transparentize($green, 0.6)

$yellow: #FFC540
$yellow-weak: transparentize($yellow, 0.5)

$red: #EF1630
$red-weak: transparentize($red, 0.6)

$purple: #9056A3
$purple-weak: transparentize($purple, 0.6)

$blue: #4EA3D4
$blue-weak: transparentize($blue, 0.6)

$orange: #F68C1E
$orange-weak: transparentize($orange, 0.5)
