@import _variables

*
  scrollbar-width: thin
  scrollbar-color: darken($background-1, 15%) transparent
  margin: 0
  padding: 0
  text-decoration: none
  font-family: "Noto Sans", sans-serif
  outline: none
  border: none
  box-sizing: border-box
  list-style-type: none
  color: $font-1
  font-size: 16px

html
  background: $background-1

.page
  place-items: center
  display: grid
  width: 100%
  min-height: calc(100vh - 50px)
  margin-bottom: 50px

p.justified
  text-align: justify

.wrapped
  margin: 0 auto
  width: min(calc(100% - 30px), 500px)
