@import ../../../css/variables

.form
  padding-top: 50px
  padding-bottom: 66px
  border-radius: 20px
  min-height: 100vh

  &-header
    z-index: 1
    height: 40px
    width: min(100%, 500px)
    left: 50%
    transform: translateX(-50%)
    padding: 0 15px
    background: $background-1
    color: $font-1
    position: fixed
    top: 0
    display: grid
    grid-template-columns: 20px 1fr 20px
    grid-template-areas: "back title options"
    align-items: center
    justify-items: center


  &-back-button
    grid-area: back
    color: $font-1 !important
    font-size: 18px

  &-title
    grid-area: title

  &-options
    grid-area: options

    &__icon
      color: $font-1
      font-size: 20px

  &-content
    display: flex
    flex-direction: column
    gap: 15px
    margin-bottom: 30px

  &-submit-button
    margin: 0 auto
    width: min(100%, 500px)
    padding: 10px 15px
    position: fixed
    left: 50%
    transform: translateX(-50%)
    bottom: 0
    background: $background-1

    &__button
      width: 100%
