@import ../../../css/variables

.mood-band
  background: $background-3
  border-radius: 15px
  padding: 20px

  &__label
    font-size: 14px
    font-weight: bold
    color: $font-1

  &__moods
    margin-top: 20px
    display: flex
    justify-content: space-around

  &__band
    margin-top: 15px
    display: flex
    overflow: hidden
    border-radius: 100px

  &__band-item
    height: 25px

    &.radiating
      background: $green-1

    &.happy
      background: $yellow-1

    &.neutral
      background: $blue-1

    &.bad
      background: $orange-1

    &.awful
      background: $red-1

.band-mood
  display: flex
  justify-content: end
  flex-direction: column
  align-items: center
  gap: 5px
  width: 50px

  &__icon
    font-size: 40px

    &.radiating
      color: $green-1

    &.happy
      color: $yellow-1

    &.neutral
      color: $blue-1

    &.bad
      color: $orange-1

    &.awful
      color: $red-1

    &.greatest
      font-size: 50px

  &__value-container
    border-radius: 100px
    padding: 1px 8px

    &.greatest
      font-weight: bold

      &.radiating
        color: $green-1
        background: transparentize($green-2, 0.25)

      &.happy
        color: $yellow-1
        background: transparentize($yellow-2, 0.25)

      &.neutral
        color: $blue-1
        background: transparentize($blue-2, 0.25)

      &.bad
        color: $orange-1
        background: transparentize($orange-2, 0.25)

      &.awful
        color: $red-1
        background: transparentize($red-2, 0.25)

  &__value
    font-size: 10px
    color: inherit
