@import ../../../css/variables

input:-webkit-autofill
  -webkit-text-fill-color: $font-strong
  -webkit-box-shadow: 0 0 0 30px $background inset !important


.field
  margin-top: 13px
  width: 100%

  &:first-child
    margin-top: 0

  &__icon-container
    transition: 0.3s
    height: 80%
    border-radius: 8px
    padding: 0 6px
    display: flex
    align-items: center

  &.red &__icon-container
    background: $red-weak
    color: $red

  &.orange &__icon-container
    background: $orange-weak
    color: $orange

  &.yellow &__icon-container
    background: $yellow-weak
    color: $yellow

  &.green &__icon-container
    background: $green-weak
    color: $green

  &.blue &__icon-container
    background: $blue-weak
    color: $blue

  &.purple &__icon-container
    background: $purple-weak
    color: $purple

  &.accent &__icon-container
    background: $accent-weak
    color: $accent-strong


  &__content
    width: 100%
    border-radius: 8px 8px 0 0
    grid-template-columns: auto 1fr auto
    display: grid
    place-items: center
    gap: 18px

  &__input-container
    position: relative
    height: fit-content
    width: 100%

  &__input
    border-bottom: 3px darken($delimiter, 11%) solid
    font-size: 20px
    padding: 13px 0
    height: 100%
    width: 100%
    background: none
    color: $font-strong

    &::placeholder
      transition: 0.3s
      color: $font-medium

    &:focus::placeholder
      color: transparent

  &.red &__input:focus
    border-bottom: 3px $red solid

  &.orange &__input:focus
    border-bottom: 3px $orange solid

  &.yellow &__input:focus
    border-bottom: 3px $yellow solid

  &.green &__input:focus
    border-bottom: 3px $green solid

  &.blue &__input:focus
    border-bottom: 3px $blue solid

  &.purple &__input:focus
    border-bottom: 3px $purple solid

  &.accent &__input:focus
    border-bottom: 3px $accent-strong solid


  &__visibility
    font-variation-settings: 'FILL' 0, 'wght' 300
    cursor: pointer
    user-select: none
    width: 30px

  &__error
    height: 17px
    color: $red
    font-size: 12px
    margin-top: 4px

.field
  .invalid &__icon-container
    background: $red-weak !important
    color: $red !important

  .invalid &__input:focus
    border-bottom: 3px $red solid !important
