@import ../../../css/variables

.table-collection
  background: $background-weak
  padding: 20px
  border-radius: 15px

  &__name
    color: $font-strong
    margin-bottom: 5px
    font-size: 14px
    font-weight: bold

  &__activities
    margin-top: 20px
